In [49]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col
from ydata_profiling import ProfileReport
import numpy as np
import pandas as pd
import dic_moledo
from pyspark.sql.functions import col, create_map, lit
from itertools import chain
import importlib

importlib.reload(dic_moledo)

In [50]:
# Configura a SparkSession
spark = SparkSession.builder \
    .appName("Minha Aplicação") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.maxResultSize", "2g") \
    .config("spark.executor.memoryOverhead", "1g") \
    .getOrCreate()

# Agora você pode verificar todas as configurações atuais
conf = spark.sparkContext.getConf()
print({item[0]: item[1] for item in conf.getAll()})

{'spark.driver.extraJavaOptions': '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false', 'spark.driver.memory': '4g', 'spark.executor.memory': '4g', 'spark.driver.host': 'DESKTOP-D8Q42PQ', 'spark.app.id': 'local-1713146400181', 'spark.app.startTime': '1713146399368', 'spark.executor.id': 'driver', 'spark.app.submitTime': '1713146399245', 'spark.app.name': 'Minha Aplicação', 'spark.driver.port': '62957', 'spark.rdd.compress': 'True', 'spark.executor.extraJavaOptions': '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false', 'spark.serializer.objectStreamReset': '100', 'spark.driver.maxResultSize': '2g', 'spark.sql.warehouse.dir': 'file:/C:/Users/mathe/OneDrive/Documentos/Códigos/RECONHECIMENTO-DE-PADROES-COM-INTELIGENCIA-ARTIFICIAL-MICRODADOS-ENEM/spark-warehouse', 'spark.master': 'local[*]', 'spark.submit.pyFiles': '', 'spark.submit.deployMode': 'client', 'spark.ui.showConsoleProgress': 'true', 'spark.executor.memoryOverhead': '1g'}

In [51]:
# Lendo um arquivo CSV
df = spark.read.csv("MICRODADOS_ENEM_2022.csv", header=True, sep=";")

In [52]:
colunas_descartadas = ['NU_INSCRICAO', 'NU_ANO', 'TP_ENSINO','CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 
                       'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT','TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 
                       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'NU_NOTA_COMP1', 
                       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5','TP_SEXO','TP_ESTADO_CIVIL','Q011','Q005','Q007','Q008','Q009','Q010','Q012','Q013','Q015',
                       'Q016','Q017','Q018','Q019','Q020','Q021','Q023','Q014','Q022','Q025','TP_ST_CONCLUSAO','TP_FAIXA_ETARIA','IN_TREINEIRO']

# Descartando colunas
df = df.drop(*colunas_descartadas)

df.show()

+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------+-----------------+---------------+----+----+----+----+----+----+
|TP_FAIXA_ETARIA|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|IN_TREINEIRO|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|TP_LINGUA|TP_STATUS_REDACAO|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q006|Q024|
+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------+-----------------+---------------+----+----+----+----+----+----+
|             14|          2|               1|              1|              2|        1|           0|         53|         DF|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   A|   A|   A|   B|   B|   A|
|             14|          1|               1|              1|             16|        1|           0|         53|         DF|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   D|   D|   E|   E|   Q|   E|
|              5|          2|               1|              1|              2|        1|           0|         29|         BA|             1|             1|             1|             1|     421.1|       546|     498.8|     565.3|        1|                1|            760|   E|   F|   A|   D|   B|   A|
|              6|          3|               1|              1|              2|        1|           0|         32|         ES|             1|             1|             1|             1|     490.7|     388.6|     357.8|       416|        1|                1|            320|   C|   A|   A|   B|   A|   B|
|              4|          3|               1|              1|              1|        1|           0|         15|         PA|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   D|   B|   A|   B|   B|   A|
|              5|          3|               1|              1|              2|        1|           0|         33|         RJ|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   E|   C|   B|   B|   C|   A|
|              4|          2|               1|              1|              2|        1|           0|         26|         PE|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   B|   B|   B|   B|   B|   A|
|              6|          2|               1|              1|              0|        1|           0|         33|         RJ|             1|             1|             1|             1|     398.1|     427.3|     400.2|     404.9|        1|                1|            440|   E|   E|   B|   B|   B|   A|
|              8|          3|               1|              1|              0|        1|           0|         29|         BA|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   A|   D|   A|   A|   B|   A|
|              4|          3|               1|              1|              1|        1|           0|         26|         PE|             1|             1|             1|             1|     467.5|       461|     466.7|     435.3|        1|                1|            360|   E|   E|   B|   B|   B|   A|
|              4|          3|               1|              1|              2|        1|           0|         25|         PB|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   E|   B|   A|   A|   A|   A|
|              2|          1|               1|              2|              0|        3|           0|         28|         SE|             1|             1|             1|             1|     458.7|     539.8|     488.2|     456.8|        1|                1|            940|   E|   E|   B|   A|   B|   A|
|              4|          2|               1|              1|              1|        1|           0|         29|         BA|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   D|   B|   F|   A|   B|   B|
|              6|          3|               1|              1|              0|        1|           0|         35|         SP|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   C|   E|   C|   D|   C|   A|
|              7|          2|               2|              1|              3|        1|           0|         51|         MT|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   E|   E|   B|   B|   C|   B|
|              8|          3|               1|              2|              0|        2|           0|         28|         SE|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        1|             NULL|           NULL|   B|   C|   B|   B|   B|   A|
|              5|          2|               1|              1|              0|        1|           0|         29|         BA|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   A|   D|   B|   B|   B|   A|
|              2|          3|               1|              3|              0|        1|           1|         35|         SP|             1|             1|             1|             1|     396.8|     528.7|     551.4|       536|        0|                1|            640|   G|   F|   F|   F|   B|   B|
|              8|          2|               1|              1|              5|        1|           0|         31|         MG|             1|             1|             1|             1|     481.4|     603.6|       589|       695|        1|                1|            860|   B|   F|   A|   D|   B|   A|
|              2|          1|               1|              3|              0|        1|           1|         33|         RJ|             0|             0|             0|             0|      NULL|      NULL|      NULL|      NULL|        0|             NULL|           NULL|   D|   B|   F|   D|   D|   A|
+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------+-----------------+---------------+----+----+----+----+----+----+
only showing top 20 rows

In [74]:
# Descartando linhas que contem valores diferentes de 1 em TP_PRESENCA_CN
df = df.filter(df.TP_PRESENCA_CN == 1)
df = df.filter(df.TP_PRESENCA_CH == 1)
df = df.filter(df.TP_PRESENCA_LC == 1)
df = df.filter(df.TP_PRESENCA_MT == 1)

df.count()

# Descartando colunas que contem valores H na coluna Q001 e Q002
df = df.filter(df.Q001 != 'H')
df = df.filter(df.Q002 != 'H')

df.count()

AttributeError: 'DataFrame' object has no attribute 'TP_PRESENCA_CN'

In [54]:
# Criando a coluna media e descartando as colunas de notas
df = df.withColumn('NU_NOTA_MEDIA', (col('NU_NOTA_CN') + col('NU_NOTA_CH') + col('NU_NOTA_LC') + col('NU_NOTA_MT') + col('NU_NOTA_REDACAO'))/5)
df = df.drop('NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT')

df.show()

+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+---------+-----------------+---------------+----+----+----+----+----+----+------------------+
|TP_FAIXA_ETARIA|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|IN_TREINEIRO|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|TP_LINGUA|TP_STATUS_REDACAO|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q006|Q024|     NU_NOTA_MEDIA|
+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+---------+-----------------+---------------+----+----+----+----+----+----+------------------+
|              5|          2|               1|              1|              2|        1|           0|         29|         BA|             1|             1|             1|             1|        1|                1|            760|   E|   F|   A|   D|   B|   A|            558.24|
|              6|          3|               1|              1|              2|        1|           0|         32|         ES|             1|             1|             1|             1|        1|                1|            320|   C|   A|   A|   B|   A|   B|            394.62|
|              6|          2|               1|              1|              0|        1|           0|         33|         RJ|             1|             1|             1|             1|        1|                1|            440|   E|   E|   B|   B|   B|   A|             414.1|
|              4|          3|               1|              1|              1|        1|           0|         26|         PE|             1|             1|             1|             1|        1|                1|            360|   E|   E|   B|   B|   B|   A|             438.1|
|              2|          1|               1|              2|              0|        3|           0|         28|         SE|             1|             1|             1|             1|        1|                1|            940|   E|   E|   B|   A|   B|   A|             576.7|
|              2|          3|               1|              3|              0|        1|           1|         35|         SP|             1|             1|             1|             1|        0|                1|            640|   G|   F|   F|   F|   B|   B|            530.58|
|              8|          2|               1|              1|              5|        1|           0|         31|         MG|             1|             1|             1|             1|        1|                1|            860|   B|   F|   A|   D|   B|   A|             645.8|
|              1|          3|               1|              3|              0|        1|           1|         26|         PE|             1|             1|             1|             1|        0|                4|              0|   H|   E|   C|   B|   B|   B|            378.74|
|              4|          1|               1|              1|              0|        1|           0|         33|         RJ|             1|             1|             1|             1|        1|                1|            640|   B|   D|   D|   B|   B|   B|             500.4|
|              4|          3|               1|              1|              1|        1|           0|         23|         CE|             1|             1|             1|             1|        1|                1|            760|   E|   E|   B|   B|   E|   A|            605.58|
|              5|          3|               1|              1|              4|        1|           0|         29|         BA|             1|             1|             1|             1|        0|                1|            520|   C|   C|   A|   A|   C|   A|445.56000000000006|
|              7|          2|               1|              1|              3|        1|           0|         29|         BA|             1|             1|             1|             1|        0|                1|            640|   E|   E|   D|   B|   B|   B| 548.5400000000001|
|             11|          5|               1|              1|              8|        1|           0|         26|         PE|             1|             1|             1|             1|        0|                1|            300|   H|   H|   A|   A|   B|   A| 459.2200000000001|
|              3|          3|               1|              1|              1|        1|           0|         13|         AM|             1|             1|             1|             1|        1|                1|            640|   E|   E|   B|   D|   G|   C|            630.62|
|             12|          1|               1|              1|              0|        1|           0|         43|         RS|             1|             1|             1|             1|        0|                1|            360|   A|   F|   F|   E|   B|   A|            385.88|
|             10|          1|               1|              1|              7|        1|           0|         43|         RS|             1|             1|             1|             1|        0|                1|            760|   E|   E|   B|   B|   E|   B|            562.68|
|              7|          3|               1|              1|              0|        1|           0|         21|         MA|             1|             1|             1|             1|        0|                1|            540|   B|   D|   A|   A|   B|   A|             458.4|
|             12|          3|               1|              1|             16|        1|           0|         13|         AM|             1|             1|             1|             1|        0|                1|            360|   E|   E|   D|   B|   D|   B|493.53999999999996|
|             11|          3|               1|              1|             13|        1|           0|         26|         PE|             1|             1|             1|             1|        1|                1|            420|   B|   E|   C|   B|   D|   A|            415.84|
|              3|          1|               1|              1|              1|        1|           0|         35|         SP|             1|             1|             1|             1|        1|                1|            460|   C|   E|   A|   B|   C|   B|             501.5|
+---------------+-----------+----------------+---------------+---------------+---------+------------+-----------+-----------+--------------+--------------+--------------+--------------+---------+-----------------+---------------+----+----+----+----+----+----+------------------+
only showing top 20 rows

In [55]:
colunas_descartadas = ['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','TP_STATUS_REDACAO','SG_UF_PROVA','NU_NOTA_REDACAO','CO_UF_PROVA','TP_ANO_CONCLUIU','TP_NACIONALIDADE']

# Descartando colunas
df = df.drop(*colunas_descartadas)

In [56]:
print(dic.q006_dict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17}

In [57]:
# Colunas Q001 ate Q025
colunas = ['Q001','Q002','Q003','Q004','Q006','Q024']


for coluna in colunas:
    # Pegando os valores correspondentes a cada letra no dicionario dic
    nome_dict = coluna.lower() + '_dict'  # Constrói o nome do dicionário
    if hasattr(dic_moledo, nome_dict):  # Verifica se o dicionário existe no módulo dicionario
        mapeamento = getattr(dic_moledo, nome_dict)  # Obtém o dicionário
        mapeamento_expr = create_map([lit(x) for x in chain(*mapeamento.items())])
        df = df.withColumn(coluna, mapeamento_expr.getItem(col(coluna)))

In [58]:
df.show()

+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
|TP_FAIXA_ETARIA|TP_COR_RACA|TP_ST_CONCLUSAO|TP_ESCOLA|IN_TREINEIRO|TP_LINGUA|Q001|Q002|Q003|Q004|Q006|Q024|     NU_NOTA_MEDIA|
+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
|              5|          2|              1|        1|           0|        1|   5|   6|   1|   4|   2|   1|            558.24|
|              6|          3|              1|        1|           0|        1|   3|   1|   1|   2|   1|   2|            394.62|
|              6|          2|              1|        1|           0|        1|   5|   5|   2|   2|   2|   1|             414.1|
|              4|          3|              1|        1|           0|        1|   5|   5|   2|   2|   2|   1|             438.1|
|              2|          1|              2|        3|           0|        1|   5|   5|   2|   1|   2|   1|             576.7|
|              2|          3|              3|        1|           1|        0|   7|   6|   6|   6|   2|   2|            530.58|
|              8|          2|              1|        1|           0|        1|   2|   6|   1|   4|   2|   1|             645.8|
|              1|          3|              3|        1|           1|        0|   8|   5|   3|   2|   2|   2|            378.74|
|              4|          1|              1|        1|           0|        1|   2|   4|   4|   2|   2|   2|             500.4|
|              4|          3|              1|        1|           0|        1|   5|   5|   2|   2|   5|   1|            605.58|
|              5|          3|              1|        1|           0|        0|   3|   3|   1|   1|   3|   1|445.56000000000006|
|              7|          2|              1|        1|           0|        0|   5|   5|   4|   2|   2|   2| 548.5400000000001|
|             11|          5|              1|        1|           0|        0|   8|   8|   1|   1|   2|   1| 459.2200000000001|
|              3|          3|              1|        1|           0|        1|   5|   5|   2|   4|   7|   3|            630.62|
|             12|          1|              1|        1|           0|        0|   1|   6|   6|   5|   2|   1|            385.88|
|             10|          1|              1|        1|           0|        0|   5|   5|   2|   2|   5|   2|            562.68|
|              7|          3|              1|        1|           0|        0|   2|   4|   1|   1|   2|   1|             458.4|
|             12|          3|              1|        1|           0|        0|   5|   5|   4|   2|   4|   2|493.53999999999996|
|             11|          3|              1|        1|           0|        1|   2|   5|   3|   2|   4|   1|            415.84|
|              3|          1|              1|        1|           0|        1|   3|   5|   1|   2|   3|   2|             501.5|
+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
only showing top 20 rows

In [59]:
# Alterando o tipo de dado de string para int 
df = df.withColumn("TP_FAIXA_ETARIA", df["TP_FAIXA_ETARIA"].cast("int"))
df = df.withColumn("TP_COR_RACA", df["TP_COR_RACA"].cast("int"))
df = df.withColumn("TP_ST_CONCLUSAO", df["TP_ST_CONCLUSAO"].cast("int"))
df = df.withColumn("TP_ESCOLA", df["TP_ESCOLA"].cast("int"))
df = df.withColumn("IN_TREINEIRO", df["IN_TREINEIRO"].cast("int"))
df = df.withColumn("TP_LINGUA", df["TP_LINGUA"].cast("int"))

In [61]:
# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Convert the Spark DataFrame back to a pandas DataFrame using Arrow
result_pdf = df.select("*").toPandas()
result_pdf.dtypes

C:\Users\mathe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyspark\sql\pandas\conversion.py:111: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 4.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)

TP_FAIXA_ETARIA      int32
TP_COR_RACA          int32
TP_ST_CONCLUSAO      int32
TP_ESCOLA            int32
IN_TREINEIRO         int32
TP_LINGUA            int32
Q001                 int32
Q002                 int32
Q003                 int32
Q004                 int32
Q006                 int32
Q024                 int32
NU_NOTA_MEDIA      float64
dtype: object

In [62]:
result_pdf = pd.get_dummies(result_pdf)
result_pdf.head()

,TP_FAIXA_ETARIA,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,TP_LINGUA,Q001,Q002,Q003,Q004,Q006,Q024,NU_NOTA_MEDIA
0,5,2,1,1,0,1,5,6,1,4,2,1,558.24
1,6,3,1,1,0,1,3,1,1,2,1,2,394.62
2,6,2,1,1,0,1,5,5,2,2,2,1,414.10
3,4,3,1,1,0,1,5,5,2,2,2,1,438.10
4,2,1,2,3,0,1,5,5,2,1,2,1,576.70

In [63]:
profile = ProfileReport(result_pdf, title="Pandas Profiling Report")
profile.to_file("output_q006_reload.html")

Summarize dataset: 100%|██████████| 86/86 [01:07<00:00,  1.28it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.29s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.15s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 111.01it/s]

In [66]:
df.show()

+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
|TP_FAIXA_ETARIA|TP_COR_RACA|TP_ST_CONCLUSAO|TP_ESCOLA|IN_TREINEIRO|TP_LINGUA|Q001|Q002|Q003|Q004|Q006|Q024|     NU_NOTA_MEDIA|
+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
|              5|          2|              1|        1|           0|        1|   5|   6|   1|   4|   2|   1|            558.24|
|              6|          3|              1|        1|           0|        1|   3|   1|   1|   2|   1|   2|            394.62|
|              6|          2|              1|        1|           0|        1|   5|   5|   2|   2|   2|   1|             414.1|
|              4|          3|              1|        1|           0|        1|   5|   5|   2|   2|   2|   1|             438.1|
|              2|          1|              2|        3|           0|        1|   5|   5|   2|   1|   2|   1|             576.7|
|              2|          3|              3|        1|           1|        0|   7|   6|   6|   6|   2|   2|            530.58|
|              8|          2|              1|        1|           0|        1|   2|   6|   1|   4|   2|   1|             645.8|
|              1|          3|              3|        1|           1|        0|   8|   5|   3|   2|   2|   2|            378.74|
|              4|          1|              1|        1|           0|        1|   2|   4|   4|   2|   2|   2|             500.4|
|              4|          3|              1|        1|           0|        1|   5|   5|   2|   2|   5|   1|            605.58|
|              5|          3|              1|        1|           0|        0|   3|   3|   1|   1|   3|   1|445.56000000000006|
|              7|          2|              1|        1|           0|        0|   5|   5|   4|   2|   2|   2| 548.5400000000001|
|             11|          5|              1|        1|           0|        0|   8|   8|   1|   1|   2|   1| 459.2200000000001|
|              3|          3|              1|        1|           0|        1|   5|   5|   2|   4|   7|   3|            630.62|
|             12|          1|              1|        1|           0|        0|   1|   6|   6|   5|   2|   1|            385.88|
|             10|          1|              1|        1|           0|        0|   5|   5|   2|   2|   5|   2|            562.68|
|              7|          3|              1|        1|           0|        0|   2|   4|   1|   1|   2|   1|             458.4|
|             12|          3|              1|        1|           0|        0|   5|   5|   4|   2|   4|   2|493.53999999999996|
|             11|          3|              1|        1|           0|        1|   2|   5|   3|   2|   4|   1|            415.84|
|              3|          1|              1|        1|           0|        1|   3|   5|   1|   2|   3|   2|             501.5|
+---------------+-----------+---------------+---------+------------+---------+----+----+----+----+----+----+------------------+
only showing top 20 rows

In [69]:
# Contando a quantidade de linhas valores nulos

for coluna in df.columns:
    print(coluna, df.filter(col(coluna).isNull()).count())

TP_FAIXA_ETARIA 0
TP_COR_RACA 0
TP_ST_CONCLUSAO 0
TP_ESCOLA 0
IN_TREINEIRO 0
TP_LINGUA 0
Q001 0
Q002 0
Q003 0
Q004 0
Q006 0
Q024 0
NU_NOTA_MEDIA 0

In [73]:
df.createOrReplaceTempView("df")

df_consulta = spark.sql("SELECT Q001, COUNT(*) FROM df GROUP BY 1 ORDER BY 1")
df_consulta.show()

+----+--------+
|Q001|count(1)|
+----+--------+
|   1|   75867|
|   2|  350284|
|   3|  291859|
|   4|  259673|
|   5|  720913|
|   6|  250540|
|   7|  193050|
|   8|  202637|
+----+--------+

In [72]:
df.createOrReplaceTempView("df")

df_consulta = spark.sql("SELECT Q002, COUNT(*) FROM df GROUP BY 1 ORDER BY 1")
df_consulta.show()

+----+--------+
|Q002|count(1)|
+----+--------+
|   1|   46006|
|   2|  238683|
|   3|  232165|
|   4|  262334|
|   5|  851162|
|   6|  329384|
|   7|  322603|
|   8|   62486|
+----+--------+

In [65]:
df.createOrReplaceTempView("df")

# Executando uma query SQL
df_sul_nota = spark.sql("SELECT AVG(NU_NOTA_MEDIA) SUL FROM df WHERE CO_UF_PROVA in ('41', '42', '43')")
df_sudeste_nota = spark.sql("SELECT AVG(NU_NOTA_MEDIA) SUDESTE FROM df WHERE CO_UF_PROVA in ('31', '32', '33', '35')")
df_norte_nota = spark.sql("SELECT AVG(NU_NOTA_MEDIA) NORTE FROM df WHERE CO_UF_PROVA in ('11', '12', '13', '14', '15', '16', '17')")
df_nordeste_nota = spark.sql("SELECT AVG(NU_NOTA_MEDIA) NORDESTE FROM df WHERE CO_UF_PROVA in ('21', '22', '23', '24', '25', '26', '27')")
df_centro_oeste_nota = spark.sql("SELECT AVG(NU_NOTA_MEDIA) CENTRO_OESTE FROM df WHERE CO_UF_PROVA in ('50', '51', '52', '53')")

df_sul_nota.show()
df_sudeste_nota.show()
df_norte_nota.show()
df_nordeste_nota.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `CO_UF_PROVA` cannot be resolved. Did you mean one of the following? [`TP_COR_RACA`, `TP_ESCOLA`, `Q001`, `Q002`, `Q003`].; line 1 pos 44;
'Project ['AVG('NU_NOTA_MEDIA) AS SUL#3571]
+- 'Filter 'CO_UF_PROVA IN (41,42,43)
   +- SubqueryAlias df
      +- View (`df`, [TP_FAIXA_ETARIA#3359,TP_COR_RACA#3373,TP_ST_CONCLUSAO#3387,TP_ESCOLA#3401,IN_TREINEIRO#3415,TP_LINGUA#3429,Q001#3201,Q002#3215,Q003#3229,Q004#3243,Q006#3257,Q024#3271,NU_NOTA_MEDIA#3018])
         +- Project [TP_FAIXA_ETARIA#3359, TP_COR_RACA#3373, TP_ST_CONCLUSAO#3387, TP_ESCOLA#3401, IN_TREINEIRO#3415, cast(TP_LINGUA#2712 as int) AS TP_LINGUA#3429, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
            +- Project [TP_FAIXA_ETARIA#3359, TP_COR_RACA#3373, TP_ST_CONCLUSAO#3387, TP_ESCOLA#3401, cast(IN_TREINEIRO#2684 as int) AS IN_TREINEIRO#3415, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
               +- Project [TP_FAIXA_ETARIA#3359, TP_COR_RACA#3373, TP_ST_CONCLUSAO#3387, cast(TP_ESCOLA#2682 as int) AS TP_ESCOLA#3401, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
                  +- Project [TP_FAIXA_ETARIA#3359, TP_COR_RACA#3373, cast(TP_ST_CONCLUSAO#2680 as int) AS TP_ST_CONCLUSAO#3387, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
                     +- Project [TP_FAIXA_ETARIA#3359, cast(TP_COR_RACA#2678 as int) AS TP_COR_RACA#3373, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
                        +- Project [cast(TP_FAIXA_ETARIA#2675 as int) AS TP_FAIXA_ETARIA#3359, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, Q024#3271, NU_NOTA_MEDIA#3018]
                           +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, Q006#3257, map(A, 1, B, 2, C, 3, D, 3, E, 3)[Q024#2747] AS Q024#3271, NU_NOTA_MEDIA#3018]
                              +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, Q004#3243, map(A, 1, B, 2, C, 3, D, 4, E, 5, F, 6, G, 7, H, 8, I, 9, J, 10, K, 11, L, 12, ... 10 more fields)[Q006#2729] AS Q006#3257, Q024#2747, NU_NOTA_MEDIA#3018]
                                 +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, Q003#3229, map(A, 1, B, 2, C, 3, D, 4, E, 5, F, 6)[Q004#2727] AS Q004#3243, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                    +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, Q002#3215, map(A, 1, B, 2, C, 3, D, 4, E, 5, F, 6)[Q003#2726] AS Q003#3229, Q004#2727, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                       +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#3201, map(A, 1, B, 2, C, 3, D, 4, E, 5, F, 6, G, 7, H, 8)[Q002#2725] AS Q002#3215, Q003#2726, Q004#2727, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                          +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, map(A, 1, B, 2, C, 3, D, 4, E, 5, F, 6, G, 7, H, 8)[Q001#2724] AS Q001#3201, Q002#2725, Q003#2726, Q004#2727, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                             +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_ST_CONCLUSAO#2680, TP_ESCOLA#2682, IN_TREINEIRO#2684, TP_LINGUA#2712, Q001#2724, Q002#2725, Q003#2726, Q004#2727, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                                +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_NACIONALIDADE#2679, TP_ST_CONCLUSAO#2680, TP_ANO_CONCLUIU#2681, TP_ESCOLA#2682, IN_TREINEIRO#2684, CO_UF_PROVA#2694, SG_UF_PROVA#2695, TP_PRESENCA_CN#2696, TP_PRESENCA_CH#2697, TP_PRESENCA_LC#2698, TP_PRESENCA_MT#2699, TP_LINGUA#2712, TP_STATUS_REDACAO#2717, NU_NOTA_REDACAO#2723, Q001#2724, Q002#2725, Q003#2726, Q004#2727, Q006#2729, Q024#2747, NU_NOTA_MEDIA#3018]
                                                   +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_NACIONALIDADE#2679, TP_ST_CONCLUSAO#2680, TP_ANO_CONCLUIU#2681, TP_ESCOLA#2682, IN_TREINEIRO#2684, CO_UF_PROVA#2694, SG_UF_PROVA#2695, TP_PRESENCA_CN#2696, TP_PRESENCA_CH#2697, TP_PRESENCA_LC#2698, TP_PRESENCA_MT#2699, NU_NOTA_CN#2704, NU_NOTA_CH#2705, NU_NOTA_LC#2706, NU_NOTA_MT#2707, TP_LINGUA#2712, TP_STATUS_REDACAO#2717, NU_NOTA_REDACAO#2723, Q001#2724, Q002#2725, Q003#2726, Q004#2727, ... 3 more fields]
                                                      +- Filter (cast(TP_PRESENCA_MT#2699 as int) = 1)
                                                         +- Filter (cast(TP_PRESENCA_LC#2698 as int) = 1)
                                                            +- Filter (cast(TP_PRESENCA_CH#2697 as int) = 1)
                                                               +- Filter (cast(TP_PRESENCA_CN#2696 as int) = 1)
                                                                  +- Project [TP_FAIXA_ETARIA#2675, TP_COR_RACA#2678, TP_NACIONALIDADE#2679, TP_ST_CONCLUSAO#2680, TP_ANO_CONCLUIU#2681, TP_ESCOLA#2682, IN_TREINEIRO#2684, CO_UF_PROVA#2694, SG_UF_PROVA#2695, TP_PRESENCA_CN#2696, TP_PRESENCA_CH#2697, TP_PRESENCA_LC#2698, TP_PRESENCA_MT#2699, NU_NOTA_CN#2704, NU_NOTA_CH#2705, NU_NOTA_LC#2706, NU_NOTA_MT#2707, TP_LINGUA#2712, TP_STATUS_REDACAO#2717, NU_NOTA_REDACAO#2723, Q001#2724, Q002#2725, Q003#2726, Q004#2727, ... 2 more fields]
                                                                     +- Relation [NU_INSCRICAO#2673,NU_ANO#2674,TP_FAIXA_ETARIA#2675,TP_SEXO#2676,TP_ESTADO_CIVIL#2677,TP_COR_RACA#2678,TP_NACIONALIDADE#2679,TP_ST_CONCLUSAO#2680,TP_ANO_CONCLUIU#2681,TP_ESCOLA#2682,TP_ENSINO#2683,IN_TREINEIRO#2684,CO_MUNICIPIO_ESC#2685,NO_MUNICIPIO_ESC#2686,CO_UF_ESC#2687,SG_UF_ESC#2688,TP_DEPENDENCIA_ADM_ESC#2689,TP_LOCALIZACAO_ESC#2690,TP_SIT_FUNC_ESC#2691,CO_MUNICIPIO_PROVA#2692,NO_MUNICIPIO_PROVA#2693,CO_UF_PROVA#2694,SG_UF_PROVA#2695,TP_PRESENCA_CN#2696,... 52 more fields] csv