In [32]:
import pandas as pd
from ydata_profiling import ProfileReport


colunas = [
    "TP_FAIXA_ETARIA", "TP_SEXO", "TP_ESTADO_CIVIL", "TP_COR_RACA",
    "TP_NACIONALIDADE", "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA", "IN_TREINEIRO","TP_LINGUA",
    "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT",
    "NU_NOTA_REDACAO","Q001", "Q002", "Q003", "Q004",  "Q005","Q006", "Q007","Q008", "Q009", "Q010", "Q011", "Q012", "Q013", "Q014",
    "Q015", "Q016", "Q017", "Q018", "Q019", "Q020", "Q021", "Q022",
    "Q023", "Q024", "Q025"]



df = pd.read_csv("limpo.csv", sep=";", encoding="latin-1")
df = df[colunas]

df = df.dropna()

df = df[(df["Q002"] != "H")]
df = df[(df["Q001"] != "H")]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2122885 entries, 0 to 2504013
Data columns (total 40 columns):
 #   Column            Dtype
---  ------            -----
 0   TP_FAIXA_ETARIA   int64
 1   TP_SEXO           object
 2   TP_ESTADO_CIVIL   int64
 3   TP_COR_RACA       int64
 4   TP_NACIONALIDADE  int64
 5   TP_ST_CONCLUSAO   int64
 6   TP_ANO_CONCLUIU   int64
 7   TP_ESCOLA         int64
 8   IN_TREINEIRO      int64
 9   TP_LINGUA         int64
 10  NU_NOTA_CN        float64
 11  NU_NOTA_CH        float64
 12  NU_NOTA_LC        float64
 13  NU_NOTA_MT        float64
 14  NU_NOTA_REDACAO   float64
 15  Q001              object
 16  Q002              object
 17  Q003              object
 18  Q004              object
 19  Q005              int64
 20  Q006              object
 21  Q007              object
 22  Q008              object
 23  Q009              object
 24  Q010              object
 25  Q011              object
 26  Q012              object
 27  Q013              object
 28  Q014              object
 29  Q015              object
 30  Q016              object
 31  Q017              object
 32  Q018              object
 33  Q019              object
 34  Q020              object
 35  Q021              object
 36  Q022              object
 37  Q023              object
 38  Q024              object
 39  Q025              object
dtypes: float64(5), int64(10), object(25)
memory usage: 664.0+ MB

In [26]:
# Importe o mÃ³dulo dic.py como dicionario
import dic

# Itera sobre as colunas especÃ­ficas e aplica o mapeamento
for coluna in dic.colunas_dic:
    nome_dict = coluna.lower() + '_dict'  # ConstrÃ³i o nome do dicionÃ¡rio
    if hasattr(dic, nome_dict):  # Verifica se o dicionÃ¡rio existe no mÃ³dulo dicionario
        mapeamento = getattr(dic, nome_dict)  # ObtÃ©m o dicionÃ¡rio
        df[coluna] = df[coluna].replace(mapeamento)  # Aplica o mapeamento



df.head()

C:\Users\alec_\AppData\Local\Temp\ipykernel_20244\476596925.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[coluna] = df[coluna].replace(mapeamento)  # Aplica o mapeamento

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_LINGUA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,5,F,1,2,1,1,2,1,0,1,...,1,1,0,1,0,0,3,0,1,1
1,6,M,1,3,1,1,2,1,0,1,...,2,1,0,3,0,0,3,1,2,1
2,6,F,1,2,1,1,0,1,0,1,...,2,1,0,3,0,0,3,0,1,1
3,4,F,1,3,1,1,1,1,0,1,...,1,1,0,2,0,0,2,0,1,1
4,2,F,1,1,1,2,0,3,0,1,...,1,1,0,2,0,0,3,0,1,1

In [27]:


mapeamento_sexo = {'M': 1, 'F': 0}

# Suponhamos que 'df_microdados' seja seu DataFrame
# Aplicando o mapeamento Ã  coluna 'TP_SEXO'
df['TP_SEXO'] = df['TP_SEXO'].replace(mapeamento_sexo)
df.head()

C:\Users\alec_\AppData\Local\Temp\ipykernel_20244\913424210.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['TP_SEXO'] = df['TP_SEXO'].replace(mapeamento_sexo)

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_LINGUA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,5,0,1,2,1,1,2,1,0,1,...,1,1,0,1,0,0,3,0,1,1
1,6,1,1,3,1,1,2,1,0,1,...,2,1,0,3,0,0,3,1,2,1
2,6,0,1,2,1,1,0,1,0,1,...,2,1,0,3,0,0,3,0,1,1
3,4,0,1,3,1,1,1,1,0,1,...,1,1,0,2,0,0,2,0,1,1
4,2,0,1,1,1,2,0,3,0,1,...,1,1,0,2,0,0,3,0,1,1

In [28]:

df['MEDIAS'] = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].mean(axis=1)
df = df.drop(columns=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'])
df2 = pd.get_dummies(df)

# diminuir o tamanho do dataset para 1 milhao de linhas para rodar mais rapido
df2 = df2.sample(1000000)




df2.to_csv("limpo2.csv", sep=";", encoding="latin-1")
print(df2["IN_TREINEIRO"].value_counts())

df2.head()

IN_TREINEIRO
0    816321
1    183679
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 440156 to 776691
Data columns (total 36 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   TP_FAIXA_ETARIA   1000000 non-null  int64
 1   TP_SEXO           1000000 non-null  int64
 2   TP_ESTADO_CIVIL   1000000 non-null  int64
 3   TP_COR_RACA       1000000 non-null  int64
 4   TP_NACIONALIDADE  1000000 non-null  int64
 5   TP_ST_CONCLUSAO   1000000 non-null  int64
 6   TP_ANO_CONCLUIU   1000000 non-null  int64
 7   TP_ESCOLA         1000000 non-null  int64
 8   IN_TREINEIRO      1000000 non-null  int64
 9   TP_LINGUA         1000000 non-null  int64
 10  Q001              1000000 non-null  int64
 11  Q002              1000000 non-null  int64
 12  Q003              1000000 non-null  int64
 13  Q004              1000000 non-null  int64
 14  Q005              1000000 non-null  int64
 15  Q006              1000000 non-null  int64
 16  Q007              1000000 non-null  int64
 17  Q008              1000000 non-null  int64
 18  Q009              1000000 non-null  int64
 19  Q010              1000000 non-null  int64
 20  Q011              1000000 non-null  int64
 21  Q012              1000000 non-null  int64
 22  Q013              1000000 non-null  int64
 23  Q014              1000000 non-null  int64
 24  Q015              1000000 non-null  int64
 25  Q016              1000000 non-null  int64
 26  Q017              1000000 non-null  int64
 27  Q018              1000000 non-null  int64
 28  Q019              1000000 non-null  int64
 29  Q020              1000000 non-null  int64
 30  Q021              1000000 non-null  int64
 31  Q022              1000000 non-null  int64
 32  Q023              1000000 non-null  int64
 33  Q024              1000000 non-null  int64
 34  Q025              1000000 non-null  int64
 35  MEDIAS            1000000 non-null  float64
dtypes: float64(1), int64(35)
memory usage: 282.3 MB

(         TP_FAIXA_ETARIA  TP_SEXO  TP_ESTADO_CIVIL  TP_COR_RACA  \
 440156                 1        0                1            1
 707341                 3        0                1            1
 1890223                2        0                1            3
 1290733                3        0                1            3
 115016                 2        0                1            1

          TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
 440156                  1                3                0          1
 707341                  1                2                0          2
 1890223                 1                2                0          2
 1290733                 1                2                0          2
 115016                  1                2                0          2

          IN_TREINEIRO  TP_LINGUA  ...  Q017  Q018  Q019  Q020  Q021  Q022  \
 440156              1          0  ...     1     0     1     0     0     3
 707341              0          1  ...     1     0     2     1     0     3
 1890223             0          1  ...     1     0     2     0     0     3
 1290733             0          1  ...     1     0     2     0     0     3
 115016              0          0  ...     1     0     2     0     0     3

          Q023  Q024  Q025  MEDIAS
 440156      0     2     1  484.78
 707341      0     2     1  540.66
 1890223     0     1     1  522.98
 1290733     0     1     0  549.00
 115016      0     2     1  618.80

 [5 rows x 36 columns],
 None)

In [29]:
df2.dtypes

TP_FAIXA_ETARIA       int64
TP_SEXO               int64
TP_ESTADO_CIVIL       int64
TP_COR_RACA           int64
TP_NACIONALIDADE      int64
TP_ST_CONCLUSAO       int64
TP_ANO_CONCLUIU       int64
TP_ESCOLA             int64
IN_TREINEIRO          int64
TP_LINGUA             int64
Q001                  int64
Q002                  int64
Q003                  int64
Q004                  int64
Q005                  int64
Q006                  int64
Q007                  int64
Q008                  int64
Q009                  int64
Q010                  int64
Q011                  int64
Q012                  int64
Q013                  int64
Q014                  int64
Q015                  int64
Q016                  int64
Q017                  int64
Q018                  int64
Q019                  int64
Q020                  int64
Q021                  int64
Q022                  int64
Q023                  int64
Q024                  int64
Q025                  int64
MEDIAS              float64
dtype: object

In [30]:
profile = ProfileReport(df2) 
profile.to_file("profile.html")

Summarize dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 81/81 [01:14<00:00,  1.09it/s, Completed]
Generate report structure: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:07<00:00,  7.02s/it]
Render HTML: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.38s/it]
Export report to file: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 124.88it/s]