In [11]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import dic  # Supondo que 'dic' é um módulo que contém mapeamentos de colunas

In [12]:
# Carregamento dos dados
df = pd.read_csv('limpo.csv', sep=';', encoding='latin1')
colunas = [
    "TP_FAIXA_ETARIA", "TP_ESTADO_CIVIL", "TP_COR_RACA",
    "TP_NACIONALIDADE", "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA", "IN_TREINEIRO", "TP_LINGUA",
    "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "NU_NOTA_REDACAO",
    "Q001", "Q002", "Q003", "Q004", "Q006", "Q024"
]

In [13]:
df = df[colunas].dropna()

In [14]:

df = df[(df['Q002'] != 'H') & (df['Q001'] != 'H')]

# Mapeamento de colunas
for coluna in dic.colunas_dic:
    nome_dict = coluna.lower() + '_dict'
    if hasattr(dic, nome_dict):
        mapeamento = getattr(dic, nome_dict)
        df[coluna] = df[coluna].replace(mapeamento)

C:\Users\alec_\AppData\Local\Temp\ipykernel_18708\2316280569.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[coluna] = df[coluna].replace(mapeamento)

In [15]:
# Cálculo da média e classificação
df['MEDIAS'] = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].mean(axis=1)
limite_baixo = df['MEDIAS'].quantile(0.33)
limite_alto = df['MEDIAS'].quantile(0.66)
df['CLASSE_MEDIAS'] = pd.cut(df['MEDIAS'], bins=[0, limite_baixo, limite_alto, float('inf')], labels=['baixo', 'medio', 'alto'])

In [ ]:
df = df.drop(columns=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'MEDIAS'])
df =df.dropna()

In [16]:
df.head()

,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_LINGUA,Q001,Q002,Q003,Q004,Q006,Q024,CLASSE_MEDIAS
0,5,1,2,1,1,2,1,0,1,3,3,1,4,2,1,medio
1,6,1,3,1,1,2,1,0,1,2,1,1,2,1,2,baixo
2,6,1,2,1,1,0,1,0,1,3,2,2,2,2,1,baixo
3,4,1,3,1,1,1,1,0,1,3,2,2,2,2,1,baixo
4,2,1,1,1,2,0,3,0,1,3,2,2,1,2,1,medio

In [17]:
#contando os nan do df
df.isna().sum()

TP_FAIXA_ETARIA     0
TP_ESTADO_CIVIL     0
TP_COR_RACA         0
TP_NACIONALIDADE    0
TP_ST_CONCLUSAO     0
TP_ANO_CONCLUIU     0
TP_ESCOLA           0
IN_TREINEIRO        0
TP_LINGUA           0
Q001                0
Q002                0
Q003                0
Q004                0
Q006                0
Q024                0
CLASSE_MEDIAS       0
dtype: int64

In [18]:
X = df.drop('CLASSE_MEDIAS', axis=1)
y = df['CLASSE_MEDIAS']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Avaliação do
# Modelagem usando Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Avaliação do
model.fit(X_train, y_train)

# Avaliação do modelo
y_pred = model.predict(X_test)

# Avaliação do
accuracy = accuracy_score(y_test, y_pred)
print(f'Acurácia do modelo: {accuracy:.2f}')

Acurácia do modelo: 0.52