In [67]:
import pandas as pd
from ydata_profiling import ProfileReport


colunas = [
    "TP_FAIXA_ETARIA", "TP_SEXO", "TP_ESTADO_CIVIL", "TP_COR_RACA",
    "TP_NACIONALIDADE", "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA", "IN_TREINEIRO","TP_LINGUA",
    "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT",
    "NU_NOTA_REDACAO","Q001", "Q002", "Q003", "Q004", "Q005", "Q006",
    "Q007", "Q008", "Q009", "Q010", "Q011", "Q012", "Q013", "Q014",
    "Q015", "Q016", "Q017", "Q018", "Q019", "Q020", "Q021", "Q022",
    "Q023", "Q024", "Q025"]



df = pd.read_csv("limpo.csv", sep=";", encoding="latin-1")
df = df[colunas]

df = df.dropna()
print(df["IN_TREINEIRO"].value_counts())

IN_TREINEIRO
0    1927753
1     417070
Name: count, dtype: int64

In [68]:
# Suponhamos que 'df_microdados' seja seu DataFrame
# Primeiro, definimos o dicionário de mapeamento
mapeamento_q = {
    'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7,
    'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13,
    'N': 14, 'O': 15, 'P': 16, 'Q': 17
}

# Agora, iteramos sobre as colunas desejadas e aplicamos o mapeamento usando um loop
for coluna in ['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']:
    if coluna in df.columns:
        df[coluna] = df[coluna].replace(mapeamento_q)

C:\Users\alec_\AppData\Local\Temp\ipykernel_21644\2938483798.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[coluna] = df[coluna].replace(mapeamento_q)

In [69]:


mapeamento_sexo = {'M': 1, 'F': 0}

# Suponhamos que 'df_microdados' seja seu DataFrame
# Aplicando o mapeamento à coluna 'TP_SEXO'
df['TP_SEXO'] = df['TP_SEXO'].replace(mapeamento_sexo)
df.head()

C:\Users\alec_\AppData\Local\Temp\ipykernel_21644\913424210.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['TP_SEXO'] = df['TP_SEXO'].replace(mapeamento_sexo)

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_LINGUA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,5,0,1,2,1,1,2,1,0,1,...,1,1,1,1,1,1,3,1,1,2
1,6,1,1,3,1,1,2,1,0,1,...,2,1,1,3,1,1,3,2,2,2
2,6,0,1,2,1,1,0,1,0,1,...,2,1,1,3,1,1,5,1,1,2
3,4,0,1,3,1,1,1,1,0,1,...,1,1,1,2,1,1,2,1,1,2
4,2,0,1,1,1,2,0,3,0,1,...,1,1,1,2,1,1,3,1,1,2

In [72]:

df['MEDIAS'] = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].mean(axis=1)
df = df.drop(columns=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'])
df2 = pd.get_dummies(df)
print(df2["IN_TREINEIRO"].value_counts())

df2.describe()

KeyError: "None of [Index(['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',\n       'NU_NOTA_REDACAO'],\n      dtype='object')] are in the [columns]"

In [74]:
df2.shape[0]

2344823

Summarize dataset: 100%|██████████| 145/145 [02:55<00:00,  1.21s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.55s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.49s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 40.26it/s]